.toolbar {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    margin-bottom: 15px;
    text-align: start;
    justify-content: space-between;
    width: 70%;
}

.toolbar button {
    background-color: #2c2827;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: flex;
    gap: 5px;
}

.toolbar button:hover {
    background-color: #FFA07A;
}

.toolbar button:active {
    background-color: #FFA07A;
    transform: translateY(2px);
}

.toolbar button i {
    font-size: 16px;
}


.toolbar select {
    background-color: #2c2827;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(131, 129, 129, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: flex;
    gap: 5px;
}

.stylingKey {
    background-color: #4a4a4a;
    color: white;
    max-width: 150px;
    border: none;
    padding: 12px 17px;
    margin: 3px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.stylingKey:hover,
.stylingKey.active {
    background-color: #FFA07A;
    box-shadow: 0 0 8px #FFDAB9, 0 0 12px #FFA07A;
}

.stylingKey:active {
    background-color: #FFB69D;
}