.layOut {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: #2b2929;
  padding: 10px;
  box-sizing: border-box;
}

.undoButton {
  width: 10%;
  position: absolute;
  left: 20px;
  right: 20px;
  top: 15px;
  background-color: #FFA07A;
}